{% extends 'base.html' %}

{% block title %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>Project 2</title>

{% endblock title%}

{% block body %}


<div class="container">
    <form action="/scrap" id="search" method="GET" class="search-box-div">
      <legend id="legend">Search Product</legend>
      <div class="form-group">
        <select name="query" class="form-control" id="Searchproduct">
        	<option value="">Select a product...</option>
		  	<option value="apple iphone 5">Apple iPhone 5</option>
		  	<option value="apple iphone 7">Apple iPhone 7</option>
		  	<option value="apple iphone 11">Apple iPhone 11</option>
		  	<option value="redmi note 8">Redmi Note 8</option>
		  	<option value="redmi note 9">Redmi Note 9</option>
		  	<option value="samsung glaxy m01">Samsung Galaxy M01</option>
		  	<option value="samsung glaxy m21">Samsung Galaxy M21</option>
		  	<option value="samsung glaxy m31">Samsung Galaxy M31</option>
		  	<option value="honor 9a">Honor 9A</option>
		  	<option value="realme 7i">Realme 7i</option>
		  	<option value="realme c12">Realme C12</option>
		</select>
    </div>
    <button  type="submit" class="btn btn-primary button" >Search</button>
  </form>
</div>

{% endblock body %}